<%= form_with(model: cocktail, local: true) do |form| %>
<% if cocktail.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

  <ul>
    <% cocktail.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :ingredients %>
  <%= form.collection_select :ingredients, Ingredient.all, :id, :name, {include_blank: false}, multiple: true %>
</div>

<div class="field">
  <%= form.label :image %>
  <%= form.file_field :image %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description %>
</div>

<div class="field">
  <%= form.label :directions %>
  <%= form.cktext_area :directions %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>