<h1>Cocktails</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Image</th>
      <th>Description</th>
      <th>Directions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
    <tr>
      <td><%= cocktail.user_id %></td>
      <td><%= cocktail.title %></td>
      <td><%= image_tag(cocktail.image.thumb.url, alt: 'Image') if cocktail.image? %></td>
      <td><%= cocktail.description %></td>
      <td><%= cocktail.directions %></td>
      <td><%= link_to 'Show', cocktail %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Cocktail', new_cocktail_path %>
<% end %>