<p>
  <strong>User:</strong>
  <%= @cocktail.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @cocktail.title %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= cocktail_ingredients(@cocktail) %>
</p>

<p>
  <%= image_tag(@cocktail.image.url, alt: 'Image') if @cocktail.image? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cocktail.description %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @cocktail.directions.html_safe %>
</p>

<p><%= @cocktail.favorites.count %> <%= (@cocktail.favorites.count) == 1 ? 'Favorite' : 'Favorites'%></p>
<p>
  <% pre_favorite = @cocktail.favorites.find { |favorite| favorite.user_id == current_user.id} %>
  <% if pre_favorite %>
  <%= button_to 'Unfavorite', cocktail_favorite_path(@cocktail, pre_favorite), method: :delete %>
  <% else %>
  <%= button_to 'Favorite', cocktail_favorites_path(@cocktail), method: :cocktail %>
  <% end %>
</p>

<% if user_signed_in? && current_user.id == @cocktail.user_id  %>
<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<% end %>

<% if user_signed_in? && current_user.id == @cocktail.user_id %>
<%= link_to 'Destroy', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>

<%= link_to 'Back', cocktails_path %>