<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@user.avatar.thumb.url, alt: 'avatar') if @user.avatar? %>
</p>

<%= link_to 'Edit', edit_user_registration_path %>