<!DOCTYPE html>
<html>

<head>
  <title>Cocktails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
</head>

<div class="top_menu">
  <%= link_to 'Коктейли', cocktails_path %> |
  <% if user_signed_in? %>
  <%= link_to 'Пользователи', users_path %> |
  <% end %>
  <% if user_signed_in? %>
  <%= link_to 'Профиль', user_path(current_user) %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Регистрация', new_user_registration_path %>
  <% end %>
</div>

<% if notice %>
<p class="notice"><%= notice %></p>
<% elsif alert %>
<p class="alert"><%= alert %></p>
<% end %>

<body>
  <%= yield %>
</body>

</html>